---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <p>Proces twórczy zazwyczaj ukrywa się w cieniu. Patrząc na owoce pracy twórczej najczęściej trudno jest powiedzieć cokolwiek na temat drogi, która doprowadziła do stworzenia końcowego dzieła. A gdyby tak potraktować proces twórczy jako dzieło samo w sobie?</p>

        <p>W projekcie "poruszając poezję" chcę zanurzyć się w 3-miesięczny proces twórczy. Jego punktem wyjścia są wiersze Nuali Ní Dhomhnaill, współczesnej irlandzkiej poetki, która zdecydowała się konsekwetnie tworzyć poezję w języku irlandzkim. Po tłumaczeniach m.in. na język angielski, francuski, niemiecki, polski czy japoński, przyszedł czas na język ciała. Co się narodzi, jeszcze dokładnie nie wiem. Niemniej jednak kwintesencją tych eksploracji ma być przede wszystkim zwrócenie uwagi na proces twórczy, który temu będzie towarzyszył. Decyduję się wystawić go na widok publiczny, podzielić się intymnością tego doświadczenia, towarzyszącymi emocjami, a także metodami pracy. Będę dzielić się z Wami na bieżąco jego przebiegiem i dokumentować postępy w postaci bloga.</p>

        <p>Jestem również ciekawa, jakie przemyślenia wzbudzi w Was ten projekt. Może zachęci do własnych poszukiwań, może będziecie chcieli podzielić się swoimi metodami pracy twórczej, przebiegiem Waszych procesów. Zachęcam do kontaktu i zawiązywania otwartych konwersacji na temat procesów twórczych, niekoniecznie artystycznych. </p>
        
      </div>
    </div>
  </div>
